body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 75%;
}

h1 {
  color: #696969;
}

h3 {
  color: #66BFBF;
}


/************** TAG SELECTORS ***************/

/* h1 {
  color: red;
  font-size: 50px;
}

h3 {
  color: #66BFBF;
}

img:hover {
  background-color: gold;
} */

/************** CLASS SELECTORS ***************/

/* .bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
    width: 160px;
} */

/************** ID SELECTORS ***************/

/* #heading {
      color: blue;
} */
